@import '../../assets/sass/variables';

.UsersWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;

  .Users {
    width: 100%;
    list-style: none;
    
    .Placeholder {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .FavoritePlaceholder,
      .NamePlaceholder,
      .SelectPlaceholder {
        position: relative;
        cursor: pointer;
        
        > button {
          width: 100%;
          font-size: 18px;
          font-weight: 600;
          color: $color-white;
          background-color: transparent;
          border: none;

          @media (max-width: $sm) {
            font-size: 12px;
          }
        }

        &::before {
          content: 'Sort';
          position: absolute;
          top: -15px;
          left: 50%;
          transform: translateX(-50%) translateY(5px);
          padding: 3px 5px;
          font-size: 12px;
          font-weight: 400;
          color: $color-white;
          background-color: rgba($color-orange, 0.9);
          border-radius: 3px;
          opacity: 0;
          transition: all $trans-md;
          z-index: 5;
        }

        &:hover::before {
          transform: translateX(-50%) translateY(0);
          opacity: 1;
        }
      }
  
      .FavoritePlaceholder,
      .DetailsPlaceholder,
      .SelectPlaceholder,
      .DeletePlaceholder {
        flex: 1
      }
  
      .NamePlaceholder {  
        flex: 8;

        @media (max-width: $sm) {
          flex: 5;
        }
      }
  
      > div {
        margin-top: 25px;
        padding: 10px 5px;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        color: $color-white;
        background-color: $color-dark;
        border-left: 1px solid $color-white;
        cursor: default;
  
        &:first-child {
          border-left: none;
        }

        @media (max-width: $sm) {
          font-size: 12px;
        }
      }
    }
  
    .NotFound {
      margin-bottom: 40px;
      font-size: 36px;
      font-weight: 600;
      text-align: center;
      color: darken($color-lightgrey, 30);
      cursor: default;
    }
  }
}

:global(.moon) {
  
  .Placeholder > div {
    background-color: $color-black !important;
  }
}