@import '../../../assets/sass/variables';
@import '../../../assets/sass/animation';

.Loading {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 100;

  .LoadingText {
    margin: 25px 15px;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: $color-white;
    background-color: $color-dark;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
    cursor: default;
  }
}