
@import '../../assets/sass/variables';

.Homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 55px);
  background-color: #80b49e;

  > h1 {
    margin-bottom: 50px;
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    color: $color-white;
    cursor: default;

    > span {
      display: block;
      font-size: 84px;
      font-weight: 800;
      line-height: 1;
    }
  }

  img {
    max-width: 600px;
    pointer-events: none;
  }
}