
@import '../../assets/sass/variables';

.Homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 55px);

  > h1 {
    margin-bottom: 50px;
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    color: $color-dark;
    cursor: default;

    > span {
      display: block;
      font-size: 84px;
      font-weight: 800;
      line-height: 1;

      @media (max-width: $md) {
        font-size: 64px;
      }

      @media (max-width: $sm) {
        font-size: 42px;
      }
    }

    @media (max-width: $md) {
      font-size: 48px;
    }

    @media (max-width: $sm) {
      font-size: 34px;
    }
  }

  img {
    max-width: 500px;
    pointer-events: none;
  }
}

:global(.moon) {

  .Homepage {
    background-color: $color-dark;

    > h1 {
      color: $color-white;
    }
  }
}