@import '../../../assets/sass/variables';

.User {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .Favorite,
  .Details,
  .Select,
  .Delete {
    flex: 1;

    > a,
    > button {
      font-size: 20px;
      border: none;
      background-color: transparent;

      > svg {
        color: $color-orange;
        transition: color $trans-md;
      }

      @media (max-width: $sm) {
        font-size: 16px;
      }
    }
  }

  .Details > a {

    > svg {
      color: $color-blue;
    }

    &:hover > svg {
      color: darken($color-blue, 15);
    }
  }

  .Delete > button {

    > svg {
      color: $color-red;
    }

    &:hover > svg {
      color: darken($color-red, 15);
    }
  }

  .Select > button > svg {
    color: $color-dark;
  }

  .Name {  
    flex: 8;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;

    @media (max-width: $sm) {
      flex: 5;
    }
  }

  > div {
    margin-top: 5px;
    padding: 10px 5px;
    text-align: center;
    color: $color-dark;
    background-color: $color-white;
    border-left: 1px solid $color-white;
    cursor: default;

    &:last-child {
      border-radius: 1px solid $color-white;
    }
  }
}