@import '../../assets/sass/variables';

.UserCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 25px auto;
  padding: 25px;
  max-width: 450px;
  width: 100%;
  background-color: $color-white;

  .Actions {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5px;
    left: 10px;

    > button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
      width: 30px;
      height: 30px;
      color: $color-white;
      border: none;
      border-radius: 50%;

      &.UserFavorite {
        font-size: 18px;
        background-color: $color-orange;

        &:hover {
          background-color: darken($color-orange, 10);
        }
      }

      &.UserEdit {
        font-size: 15px;
        background-color: $color-blue;

        &:disabled {
          background-color: darken($color-lightgrey, 30);

          &:hover {
            background-color: darken($color-lightgrey, 30);
          }
        }

        &:hover {
          background-color: darken($color-blue, 10);
        }
      }
  
      &.UserDelete {
        font-size: 16px;
        background-color: $color-red;

        &:hover {
          background-color: darken($color-red, 10);
        }
      }
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .UserAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 15px;

    img {
      position: relative;
      display: inline-block;
      max-width: 128px;
      max-height: 128px;
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
      pointer-events: none;
      z-index: 2;
    }

    &::before { 
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 127px;
      height: 127px;
      background-color: darken($color-lightgrey, 10);
      border-radius: 50%;
      z-index: 1;
    }
  }

  .UserName {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    max-width: 300px;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    color: $color-dark;

    > input {
      margin: 0 10px;
      padding: 5px;
      width: inherit;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      color: $color-dark;
      background-color: darken($color-lightgrey, 5);
      border: 1px solid darken($color-lightgrey, 5);

      &:focus {
        border-color: darken($color-lightgrey, 25);
      }
    }
  }

  .UserEmail {
    margin-bottom: 15px;

    > a {
      font-size: 16px;
      font-weight: 400;
      color: lighten($color-dark, 20);

      &:hover {
        color: $color-orange;
      }
    }
  }

  .UserDescription {
    max-width: 300px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: $color-dark;

    > textarea {
      padding: 5px 10px;
      width: inherit;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      color: $color-dark;
      background-color: darken($color-lightgrey, 5);
      border: 1px solid darken($color-lightgrey, 5);
      resize: vertical;
      
      &:focus {
        border-color: darken($color-lightgrey, 25);
      }
    }
  }

  .EditActions {
    margin-top: 15px;

    > button {
      display: inline-block;
      margin: 0 5px;
      padding: 5px 10px;
      font-size: 14px;
      font-weight: 600;
      color: $color-white;
      border: none;

      &.Save {
        background-color: $color-blue;
  
        &:hover {
          background-color: darken($color-blue, 15);
        }
      }
  
      &.Cancel {
        background-color: darken($color-lightgrey, 25);
  
        &:hover {
          background-color: darken($color-lightgrey, 40);
        }
      }
    }
  }
}

:global(.moon) {
  
  .UserCard {
    background-color: $color-lightgrey;

    > div {
      color: $color-black;
    }
  }
}