@import '../../assets/sass/variables';

.LoginFormWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.LoginFormTitle {
  margin: 15px;
  font-size: 52px;
  color: $color-orange;

  @media (max-width: $sm) {
    font-size: 34px;
  }
}

.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  .Hint {
    position: relative;

    > button {
      position: absolute;
      top: calc(50% - 5px);
      right: -35px;
      transform: translateY(-50%);
      font-size: 24px;
      color: $color-blue;
      background-color: transparent;
      border: none;

      &:hover {
        color: darken($color-blue, 15);
      }

      @media (max-width: $sm) {
        right: 10px;
      }
    }
  }
  
  input {
    margin-bottom: 10px;
    padding: 5px 10px;
    min-width: 250px;
    font-size: 16px;
    border: 1px solid darken($color-lightgrey, 25);
    transition: border-color $trans-md;

    &:global(.error) {
      border-color: $color-red;
    }

    &:hover,
    &:focus {
      border-color: $color-orange;
    }
  }

  > button {
    width: 100%;
    padding: 10px;
    color: $color-white;
    background-color: $color-dark;
    border: none;
    font-size: 16px;
    transition: background-color $trans-md;

    &:hover {
      background-color: $color-orange;
    }
  }
}

:global(.moon) {

  .LoginForm > button {
    background-color: $color-black;

    &:hover {
      background-color: $color-orange;
    }
  }
}