@import './assets/sass/fonts';
@import './assets/sass//variables';

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: $color-lightgrey;
  min-height: 100vh;

  a {
    text-decoration: none;
    transition: $trans-md;
  
    &:focus {
      outline: none;
    }
  }
  
  button {
    transition: $trans-md;
    cursor: pointer;
  
    &:focus {
      outline: none;
    }
  }
  
  .wrapper {
    max-width: 1330px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .logo {
    display: inline-block;
    line-height: 0;
  }
}
