@import '../../assets/sass/variables';

.HeaderWrapper {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 55px;
  background-color: $color-dark;
  z-index: 90;

  :global(.logo) {
    padding: 5px 0;

    > img {
      max-width: 40px;
    }
  }

  .Header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .HeaderNav {
      display: flex;
      align-items: center;
      list-style: none;
  
      > li {
        display: inline-block;
        margin: 0 5px;

        > a {
          display: inherit;
          padding: 0 5px;
          color: $color-white;

          :global(.user) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            font-size: 18px;
            background-color: $color-orange;
            transition: background-color $trans-md;
            border-radius: 50%;

            &:hover {
              color: $color-white;
              background-color: darken($color-orange, 10);
            }
          }

          &:global(.active) > span {
            color: $color-orange;
          }

          &:hover:not(:global(.active)) > span {
            color: lighten($color-orange, 25);
          }
        }
      }
    }
  }
}

:global(.moon) {
  
  .HeaderWrapper {
    background-color: $color-black;
  }
}