@import '../../../assets/sass/variables';

.Actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  width: 100%;

  .ActionsLeft {
    flex: 1;
    width: inherit;

    .PerPage {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      max-width: 70px;

      > select {
        width: 100%;
        padding: 5px 8px;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        text-align-last: center;
        color: $color-white;
        background-color: $color-orange;
        border: 1px solid $color-orange;
        cursor: pointer;
      }

      &::before {
        content: 'Per Page';
        position: absolute;
        top: -65%;
        left: 50%;
        transform: translateX(-50%) translateY(5px);
        padding: 3px 5px;
        min-width: 50px;
        font-size: 12px;
        font-weight: 400;
        color: $color-white;
        background-color: rgba($color-dark, 0.9);
        border-radius: 3px;
        opacity: 0;
        transition: all $trans-md;
        z-index: 5;
      }

      &:hover::before {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
      }
    }

    @media (max-width: $sm) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .ActionsRight {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    width: inherit;

    button,
    a {
      display: block;
      margin-right: 10px;
      padding: 10px 15px;
      font-size: 14px;
      font-weight: 600;
      border: none;
  
      > svg {
        margin-right: 3px;
      }
  
      &.AddContact {
        color: $color-white;
        background-color: $color-green;
  
        &:hover {
          background-color: darken($color-green, 15);
        }
      }
  
      &.DeleteSelected {
        color: $color-white;
        background-color: $color-red;
    
        &:hover {
          background-color: darken($color-red, 15);
        }
    
        &:disabled {
          background-color: darken($color-lightgrey, 30);
        }
      }
  
      &:last-child {
        margin-right: 0;
      }
  
      &:disabled {
        cursor: not-allowed;
      }
    }

    @media (max-width: $sm) {
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
    }
  }

  @media (max-width: $sm) {
    flex-direction: column-reverse;
  }
}