@keyframes slideLeft {
  0% {
    transform: translateX(100%)
  }
  100% {
    transform: translateX(0)
  }
}

@keyframes slideBottom {
  0% {
    transform: translateX(-50%) translateY(-100%)
  }
  100% {
    transform: translateX(-50%) translateY(0)
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}