// colors
$color-white: #fff;
$color-black: #000;
$color-dark: #1a1a1a;
$color-lightgrey: #fafafa;
$color-orange: #ffbc2c;
$color-red: #ec4343;
$color-blue: #338dd6;
$color-green: #1f961f;

// transition
$trans-md: 0.3s ease-in;